Description of dataset:



citation: Kielland, K., F.S. Chapin, R.W. Ruess, and Bonanza Creek LTER. 2017. Snowshoe hare physical data in Bonanza Creek Experimental Forest: 1999-Present ver 22. Environmental Data Initiative. https://doi.org/10.6073/pasta/03dce4856d79b91557d8e6ce2cbcdc14 (Accessed 2024-10-16).

![Snowshoe Hare, Photographs by Alan Schmierer](https://upload.wikimedia.org/wikipedia/commons/8/8a/SNOWSHOE_HARE_%28Lepus_americanus%29_%285-28-2015%29_quoddy_head%2C_washington_co%2C_maine_-01_%2818988734889%29.jpg)

In [1]:
import pandas as pd
import numpy as np

In [ ]:
hares = pd.read_csv('https://portal.edirepository.org/nis/dataviewer?packageid=knb-lter-bnz.55.22&entityid=f01f5d71be949b8c700b6ecd1c42c701')

In [5]:
hares.head()

,date,time,grid,trap,l_ear,r_ear,sex,age,weight,hindft,notes,b_key,session_id,study
0,11/26/1998,NaN,bonrip,1A,414D096A08,NaN,NaN,NaN,1370.0,160.0,NaN,917.0,51,Population
1,11/26/1998,NaN,bonrip,2C,414D320671,NaN,M,NaN,1430.0,NaN,NaN,936.0,51,Population
2,11/26/1998,NaN,bonrip,2D,414D103E3A,NaN,M,NaN,1430.0,NaN,NaN,921.0,51,Population
3,11/26/1998,NaN,bonrip,2E,414D262D43,NaN,NaN,NaN,1490.0,135.0,NaN,931.0,51,Population
4,11/26/1998,NaN,bonrip,3B,414D2B4B58,NaN,NaN,NaN,1710.0,150.0,NaN,933.0,51,Population

In [7]:
# Dimensions
hares.shape

(3380, 14)

In [11]:
# NA values

hares.info()

hares.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3380 entries, 0 to 3379
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        3380 non-null   object
 1   time        264 non-null    object
 2   grid        3380 non-null   object
 3   trap        3368 non-null   object
 4   l_ear       3332 non-null   object
 5   r_ear       3211 non-null   object
 6   sex         3028 non-null   object
 7   age         1269 non-null   object
 8   weight      2845 non-null   float64
 9   hindft      1633 non-null   float64
 10  notes       243 non-null    object
 11  b_key       3333 non-null   float64
 12  session_id  3380 non-null   int64
 13  study       3217 non-null   object
dtypes: float64(3), int64(1), object(10)
memory usage: 369.8+ KB

date             0
time          3116
grid             0
trap            12
l_ear           48
r_ear          169
sex            352
age           2111
weight         535
hindft        1747
notes         3137
b_key           47
session_id       0
study          163
dtype: int64

In [18]:
# Minimum and Maximum values

hares.max

hares.min

<bound method NDFrame._add_numeric_operations.<locals>.min of             date      time    grid trap       l_ear r_ear  sex  age  weight  \
0     11/26/1998       NaN  bonrip   1A  414D096A08   NaN  NaN  NaN  1370.0
1     11/26/1998       NaN  bonrip   2C  414D320671   NaN    M  NaN  1430.0
2     11/26/1998       NaN  bonrip   2D  414D103E3A   NaN    M  NaN  1430.0
3     11/26/1998       NaN  bonrip   2E  414D262D43   NaN  NaN  NaN  1490.0
4     11/26/1998       NaN  bonrip   3B  414D2B4B58   NaN  NaN  NaN  1710.0
...          ...       ...     ...  ...         ...   ...  ...  ...     ...
3375    8/8/2002  18:00:00  bonrip  1b         1201  1202  NaN  NaN  1400.0
3376    8/8/2002   6:00:00  bonrip  4b         1201  1202  NaN  NaN     NaN
3377    8/7/2002       NaN  bonrip   4b        1217  1218  NaN  NaN  1000.0
3378    8/8/2002       NaN  bonrip   6d        1217  1218  NaN  NaN   990.0
3379    8/6/2002       NaN  bonrip   4b        1058  1060    M  NaN  1460.0

      hindft notes  b_key  session_id       study
0      160.0   NaN  917.0          51  Population
1        NaN   NaN  936.0          51  Population
2        NaN   NaN  921.0          51  Population
3      135.0   NaN  931.0          51  Population
4      150.0   NaN  933.0          51  Population
...      ...   ...    ...         ...         ...
3375     NaN   NaN   63.0          64  Population
3376     NaN   NaN   63.0          64  Population
3377   134.0   NaN   69.0          64  Population
3378     NaN   NaN   69.0          64  Population
3379   119.0   NaN   32.0          64  Population

[3380 rows x 14 columns]>

In [15]:
# Unique values
hares.nunique()

date           256
time           165
grid             5
trap           121
l_ear         1020
r_ear          963
sex             12
age             30
weight         266
hindft          90
notes          118
b_key         1026
session_id     113
study            4
dtype: int64

## 4. Detecting messy values

In the metadata section of the EDI repository, find which are the allowed values for the haresâ€™ sex. Create a small table in a markdown cell showing the values and their definitions.
Get the number of times each unique sex non-NA value appears.
Check the documentation of value_counts(). What is the purpose of the dropna parameter and what is its default value? Repeat step (a), this time adding the dropna=False parameter to value_counts().

Discuss with your team the output of the unique value counts. In particular:

Do the values in the sex column correspond to the values declared in the metadata?
What could have been potential causes for multiple codes?
Are there seemingly repated values? If so, what could be the cause?
Write code to confirm your suspicions about c-iii.



| Code   | Description          |
| -------| ---------------------|
| m      | male                 |
| f      | female               |
| m?     | male not confirmed   |
| f?     | female not confirmed |

In [19]:
# Get the number of times each unique sex non-NA value appears. 
hares['sex'].value_counts()

F     1161
M      730
f      556
m      515
?       40
F?      10
f        4
m        4
f?       3
M?       2
m?       2
pf       1
Name: sex, dtype: int64

In [20]:
# Include NAs
hares['sex'].value_counts(dropna=False)

F      1161
M       730
f       556
m       515
NaN     352
?        40
F?       10
f         4
m         4
f?        3
M?        2
m?        2
pf        1
Name: sex, dtype: int64

There are repeating values, likely due to mismatching syntax, capitalization, etc...

In [ ]:
# Write code to confirm, not sure how to confirm.

## 5. Brainstorm/ 6. Clean Values

- Female denotes: F, f, F?, f?, and pf
- Male denotes: M, m, M?, and m?
- NA denotes: NaN, and ?

Also need to strip the white space so that only the single letter(s) remain

In [23]:
conditions=[hares ['sex'].isin(['F', 'f', 'f ']),
           hares['sex'].isin(['M', 'm', 'm '])]

gender = ['female', 'male']

hares['sex_simple']=np.select(conditions, gender, default = np.nan)

print(hares['sex_simple'])

0        nan
1       male
2       male
3        nan
4        nan
        ...
3375     nan
3376     nan
3377     nan
3378     nan
3379    male
Name: sex_simple, Length: 3380, dtype: object

## 7. Calculate Mean Weight

In [24]:
hares.groupby('sex_simple').weight.mean()

sex_simple
female    1365.164792
male      1349.935542
nan       1193.364055
Name: weight, dtype: float64

## 8. Collect Code and Streamline Results

don't include checks, only do the code that directly yields to something